.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0;
}
#navbar-link{
  color: white;
  border: 1px white solid;
  border-radius: 10px;
  background-color: #b98c52;
}
#navbar-link:hover{
  background-color: #caa16c;
}
#navbar-link:active{
  color: black;
  background-color: #c9ac86
}
.container-fluid {
    background-color: #ac7938;
}
.navbar-brand {
  margin-right: 2rem;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 3%;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 5%;
  padding: 0 5%;
}

.sub-container {
  width: 100%;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.sub-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-top: 0;
}

.intro-img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

li::before {
  content: "•";
  margin-right: 5px;
  color: #555;
}

.sub-container:nth-child(even) {
  background-color: #fff;
  border-color: #ddd;
}

.sub-container:nth-child(even):hover {
  background-color: #f9f9f9;
}
#page-footer{
  margin: 0;
  padding: 1% 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .sub-container {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .sub-container {
    width: 80%;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
}
