.navbar.navbar-expand-lg.bg-body-tertiary{
    padding: 0;
}
.container-fluid{
    background-color: rgb(172, 121, 56);
}
#navbar-link{
    color: white;
    border-radius: 10px;
  }
  #navbar-link:hover{
    background-color: #caa16c;
  }
  #navbar-link:active{
    color: black;
    background-color: #c9ac86
  }
#post{
    margin: 2% 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-nav{
    width: inherit;
    margin: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 3px solid rgb(211, 145, 92);
    background-color: antiquewhite;
}
select.form-select{
    width: auto;
    margin-left: 1%;
}
.search-form{
    margin-left: 5%;
    display: flex;
    border-radius: 100px;
}
.inputSearch{
    padding: 10px;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 50px 0 0 50px;
}
.searchbtn{
    border-style: none;
    background-color: rgb(255, 255, 255);
    border: 10px white solid;
    border-radius: 0 50px 50px 0;
}
.searchicon{
    width: 10px;
}
.clearslc{
    margin-left: 3%;
    border-style: none;
    background-color: rgb(243, 241, 239);
    border: 1px rgb(196, 196, 196) solid;
    border-radius: 20px;
    font-family: Microsoft JhengHei;
}
.clearslc:hover{
    background-color: rgba(255, 255, 255, 0.623);
}
.clearslc:active{
    color: white;
    background-color: rgb(146, 141, 138);
}
.navbar-nav {
    margin-left: auto;
    margin-right: 3%;
}
.searchReasult{
    margin-top: 10px;
    margin-left: 5.3%;
    width: 8rem;
}
#post-content{
    margin: 1% 5%;
    display: grid;
    gap: 0 3%;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
}
.btn-group{
    margin: 0 5px 3px;
}
.card{
    margin: 10px 1%;
    width: 18rem;
}
.card:hover{
    box-shadow: 3px 3px 20px gray,
                -3px 0px 20px gray;
    transform: translateY(-3px);
}
.card-img-top{
    width: auto;
    height: 10rem;
}
h5.card-title{
    margin: 0;
    font-size: larger;
}
#page-footer{
    margin: 0;
    padding: 1% 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
@media (max-width:991px) {
    .navbar-nav{
        margin-right: 0;
    }
    #navbar-link{
        text-align: center;
        margin-bottom: 1%;
    }
}
@media (max-width: 800px){
    .post-nav{
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border-bottom: 3px solid rgb(211, 145, 92);
    }
    select.form-select{
        margin-bottom: 1%;
    }
    .search-form{
        margin-left: 1%;
    }
    .clearslc{
        margin:1% 0 0 1%;
        height: 3rem;
    }
}
@media (max-width:756px){
    .post-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}